In [2]:
import pandas as pd
df = pd.read_csv("train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df.shape

(891, 12)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Handle missing values

In [ ]:
df = df.dropna(subset=['Embarked']) #drop null values in column 'Embarked'
#df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [9]:
df = df.drop(columns='Cabin', axis =1) #drop cabin column

In [10]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         0
dtype: int64

In [11]:
df['Age'].fillna(df["Age"].mean(), inplace=True)

/var/folders/4k/wvlpxp711yz8cxnbyqjw1zlh0000gn/T/ipykernel_55420/1680841.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df["Age"].mean(), inplace=True)

In [12]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [13]:
df['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [ ]:
#KNN imputer
'''
from sklearn.impute import KNNImputer
impute = KNNImputer()
for i in df.select_dtypes(include="number").columns:
    df[i] = impute.fit_transform(df[[i]])
'''

In [15]:
df.duplicated().sum()

0

Encoding categorical data

In [17]:
df['Sex'].value_counts()

Sex
male      577
female    312
Name: count, dtype: int64

In [18]:
df['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [19]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked        object
dtype: object

In [20]:
df.replace({'Sex':{'male':0,'female':1}, 'Embarked':{'S':0,'C':1,'Q':2}}, inplace=True)

/var/folders/4k/wvlpxp711yz8cxnbyqjw1zlh0000gn/T/ipykernel_55420/2058086687.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({'Sex':{'male':0,'female':1}, 'Embarked':{'S':0,'C':1,'Q':2}}, inplace=True)

In [21]:
df['Sex'].value_counts()

Sex
0    577
1    312
Name: count, dtype: int64

In [22]:
df['Embarked'].value_counts()

Embarked
0    644
1    168
2     77
Name: count, dtype: int64

Feature scaling

In [23]:
'''
clustering - minmax

minmax(normalizing) - range[0,1]
standardization(zcore) - mean 0, variance 1 
'''

'\nclustering - minmax\n\nminmax(normalizing) - range[0,1]\nstandardization(zcore) - mean 0, variance 1 \n'

In [25]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex              int64
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Embarked         int64
dtype: object

In [28]:
#feature scaling
'''
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[['numerical_column_1', 'numerical_column_2']] = scaler.fit_transform(df[['numerical_column_1', 'numerical_column_2']])



from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
df[['numerical_column_1', 'numerical_column_2']] = min_max_scaler.fit_transform(df[['numerical_column_1', 'numerical_column_2']])

df_scaled = scaler(fit_transform(df))

'''

"\nfrom sklearn.preprocessing import StandardScaler\nscaler = StandardScaler()\ndf[['numerical_column_1', 'numerical_column_2']] = scaler.fit_transform(df[['numerical_column_1', 'numerical_column_2']])\n\n\n\nfrom sklearn.preprocessing import MinMaxScaler\nmin_max_scaler = MinMaxScaler()\ndf[['numerical_column_1', 'numerical_column_2']] = min_max_scaler.fit_transform(df[['numerical_column_1', 'numerical_column_2']])\n\ndf_scaled = scaler(fit_transform(df))\n\n"

Handeling outliers

In [29]:
#handeling outliers
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

def wisker(col):
    q1,q3 = np.percentile(col,[25,75])
    iqr = q3 - q1
    lw = q1 - 1.5*iqr
    uw = q3 + 1.5*iqr
    return lw,uw

for i in ['GDP','Total expenditure',' thinness  1-19 years',' thinness 5-9 years']:
    lw,uw = wisker(df[i])
    df[i] = np.where(df[i]<lw,lw,df[i])
    df[i] = np.where(df[i]>uw,uw,df[i])
    
plt.figure(figsize=(15,15))
for i in ['GDP','Total expenditure',' thinness  1-19 years',' thinness 5-9 years']:
    sns.boxplot(df[i])
    plt.show()

KeyError: 'GDP'

EDA

In [34]:
'''
# Plot correlation heatmap
plt.figure(figsize=(12, 8))
sns.heatmap(df.corr(), annot=True, cmap='coolwarm', fmt='.2f')
plt.title('Correlation Heatmap')
plt.show()
'''

"\n# Plot correlation heatmap\nplt.figure(figsize=(12, 8))\nsns.heatmap(df.corr(), annot=True, cmap='coolwarm', fmt='.2f')\nplt.title('Correlation Heatmap')\nplt.show()\n"

In [33]:
'''
# Scatter plot between two numerical features
sns.scatterplot(x='feature_1', y='feature_2', data=df)
plt.title('Scatter plot between feature_1 and feature_2')
plt.show()

# Count plot for a categorical feature
sns.countplot(x='categorical_column', data=df)
plt.title('Distribution of Categorical Feature')
plt.show()

# Bar plot comparing categorical feature against numerical feature
sns.barplot(x='categorical_column', y='numerical_column', data=df)
plt.title('Categorical vs Numerical Data')
plt.show()
'''

"\n# Scatter plot between two numerical features\nsns.scatterplot(x='feature_1', y='feature_2', data=df)\nplt.title('Scatter plot between feature_1 and feature_2')\nplt.show()\n\n# Count plot for a categorical feature\nsns.countplot(x='categorical_column', data=df)\nplt.title('Distribution of Categorical Feature')\nplt.show()\n\n# Bar plot comparing categorical feature against numerical feature\nsns.barplot(x='categorical_column', y='numerical_column', data=df)\nplt.title('Categorical vs Numerical Data')\nplt.show()\n"

In [ ]:

# Split the dataset into features (X) and target (y)
X = df.drop('target', axis=1)
Y = df['target']

# Split into training and testing sets (80% train, 20% test)
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

model selection

In [ ]:
'''
classification - logireg,svm,decision tree,random forest.naive bayes
regression - linear reg
clustering - kmeans clustering
'''

model evaluation

In [ ]:
'''
#model accuracy for test data
X_test_pred = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_pred,Y_test)
print("Accuracy for training data : ",test_data_accuracy)

print(confusion_matrix(y_test, X_test_pred)) #classification qsv

print(classification_report(y_test, X_test_pred))
'''

Hyperparameter Tuning

In [ ]:
from sklearn.model_selection import GridSearchCV

# Set up the parameter  grid
param_grid = {
    'C': [0.1, 1, 10],
    'solver': ['lbfgs', 'liblinear']
}

# Grid Search for the best hyperparameters
grid_search = GridSearchCV(estimator=model, param_grid, cv=5)
grid_search.fit(X_train, Y_train)

# Best parameters
print(f"Best Parameters: {grid_search.best_params_}")

# Evaluate on the test set with the best model
best_model = grid_search.best_estimator_
X_test_pred = best_model.predict(X_test)

# Accuracy score
accuracy_best = accuracy_score(X_test_pred,y_test )
print(f"Best Model Accuracy: {accuracy_best:.2f}")

from sklearn.model_selection import GridSearchCV

# Set up the parameter grid
param_grid = {
    'C': [0.1, 1, 10],
    'solver': ['lbfgs', 'liblinear']
}

# Grid Search for the best hyperparameters
grid_search = GridSearchCV(LogisticRegression(max_iter=200), param_grid, cv=5)
grid_search.fit(X_train, y_train)

# Best parameters
print(f"Best Parameters: {grid_search.best_params_}")

# Evaluate on the test set with the best model
best_model = grid_search.best_estimator_
y_pred_best = best_model.predict(X_test)

# Accuracy score
accuracy_best = accuracy_score(y_test, y_pred_best)
print(f"Best Model Accuracy: {accuracy_best:.2f}")

Model Deployment

In [ ]:
import joblib

# Save the trained model
joblib.dump(best_model, 'logistic_regression_model.pkl')

# Load the model from the file (for deployment)
loaded_model = joblib.load('logistic_regression_model.pkl')

# Make predictions with the loaded model
y_pred_loaded = loaded_model.predict(X_test)
print(f"Loaded Model Accuracy: {accuracy_score(y_test, y_pred_loaded):.2f}")